@import url(https://fonts.googleapis.com/css2?family=Merienda:wght@300;400&family=Poppins:wght@400;500;600&display=swap);
* {
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: #162623;
    border: 2px solid black;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn {
    background-color: #295255;
    color: #fff;
}
.btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}
.employee {
    padding: 10px 10px 0 10px;
}
.thead {
    background-color: #162623;
}
.modal {
    margin-top: 100px;
}
.float-alert {
    position: fixed;
    top: 82px;
    right: 120px;
    z-index: 1050; 
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
